[2015-12-04 00:52] Gillingham opened #2 "Crashes with pip < 6.x"
[code]
[code]

Using pip-tools==0.3.6 pip-review works fine with the same old version of pip so it looks like there was a regression after the fork.

[2015-12-04 18:19] jgonggrijp commented on #2
Yes that's right, this dependency was introduced with pull request #1. The `--pre` flag depends on it. I didn't realise this could break things for people using old versions of pip, sorry for not thinking that through. Is upgrading pip not an option for you?

[2015-12-04 18:25] Gillingham commented on #2
I can upgrade, just wanted to report this as it is a bit of a regression and pip 1.5.4 is what comes stock on Ubuntu 14.04 LTS so I'm sure people will be running into this.
I guess its up to you if you want to just update install_requires in setup.py to depend on pip>=6 or figure out a work-around, for me I do all development from virtualenvs so updating pip is never an issue.

[2015-12-06 16:27] jgonggrijp commented on #2
Thanks for reporting. I can probably make it work without depending on pip>=6, so I'll fix it that way.

[2016-01-07 21:17] mihaic opened #6 "Add --user switch"
It would be great to have a "--user" switch, just like the one `pip` itself has.

See also pip-tools issue nvie/pip-tools#45.

[2016-01-08 00:31] MalikRumi opened #7 "match available upgrade to compatibility with latest version of main tool?"
First, I think this is a great tool, thanks for rescuing it. My question arises as I look at upgrading to Django 1.9.1 from 1.7. Pip-review does not tell me if any of my dependencies, new or not, are compatible with Django 1.9.1. I'm thinking something like:

dependency x, new version, is compatible with Django x, latest version (or any other Python app)

I don't know if this is possible, or how d

[2016-01-08 01:29] MalikRumi commented on #7
I just noticed that if I have an outdated dependency that has no new version, pip-review will not pick that up (e.g., django-postgrespool). Maybe you already knew that, but I thought I'd mention it since I've already added to your issues list

[2016-01-08 07:34] jgonggrijp commented on #6
Thanks for pointing this out. I'm planning on a major rewrite where flags like `--user` and `--outdated` are simply forwarded to `pip list`. So if you can wait for that (it might take a while), you are all set. Otherwise, I might also accept pull requests in the meanwhile.

[2016-01-08 07:37] jgonggrijp commented on #7
Regarding your first post: could you clarify your feature request a bit, perhaps with some mock output as a full example?

Regarding your second post: is it at all related to your first post? If so, how? If not, could you please file a separate ticket for it?

[2016-03-07 22:03] xoviat opened #9 "pip-review does not upgrade pip?"
Pip gave me messages that it was out of date and continued after running `pip-review --auto`. Pip was updated after running `pip install -U pip`.

[2016-03-08 09:59] jgonggrijp commented on #9
Do you consider this a bug? I'm not sure whether pip-review should upgrade pip, or pip should be the only program doing that. If I'm right, the current pip-tools don't update pip, either.

[2016-03-08 18:52] xoviat commented on #9
Is pip the only package not automatically upgraded? If so, I will close this.

[2016-03-09 09:38] jgonggrijp commented on #9
As far as I know, pip is the only package not being updated by pip-review. But please don't take my word for it and do some testing to confirm. :-)

[2016-05-05 20:50] ElMoribond opened #10 "mysql-connector-python==2.0.4 is available (you have 2.1.3)"
Hello

Today I use pip-review for first time.
I updated several packets successfully. Thanks to dev :)
But it remains a wonder that dilemma (I am under ARM Archlinux).
$ pip-review
mysql-connector-python==2.0.4 is available (you have 2.1.3)

It's normal?

[2016-05-06 11:26] jgonggrijp commented on #7
Reading this again, I have an idea regarding your first post. Would `pip-compile --upgrade --dry-run` suit your needs?

Regarding your second post, I'm a bit confused. If there is no new version, surely the dependency is not outdated? I'm probably misunderstanding what you wrote, so please clarify.

[2016-05-06 11:30] jgonggrijp commented on #10
No, that's not supposed to happen. Thanks for reporting this. I will accept pull requests that fix this, otherwise the fix is probably going to happen after I find the time to rewrite `pip-review` to use `pip list --outdated`.

[2016-06-04 06:21] Femtometer opened #11 "Also install as a module so "python3.4 -m pip-review" will work"
Console says “No module named pip-review”.
Installed log:
[code]

[2016-06-05 18:13] jgonggrijp commented on #11
(I edited your post for better formatting. Use triple backticks to format multiline code. Thank you.)

Python 3 is still unsupported, unfortunately. However, it is on my wish list.

[2016-06-16 14:48] Femtometer commented on #11
[code]
I have multi-version python installed. I can't use pip-review like pip with "pythonx.x -m package-name".
It can be a package which can be executed.

[2016-06-20 09:46] jgonggrijp commented on #11
Ah, that is clarifying. So ideally `pip-review` should not only be installed as a script but also as a module. I'll update the ticket title to make this clear.

[2016-10-08 15:48] Kristinita opened #12 "Can not run pip-review on Windows with Python 3"
### Summary

I can not run command `pip-review`.

### Expected behavior

I want automatically updates all my pip modules.

### Actual behavior

    E:\Chocolatey>pip-review
    "pip-review" не является внутренней или внешней
    командой, исполняемой программой или пакетным файлом.

### Steps to reproduce

I read in [Stack Overflow answer](http://stackoverflow.com/a/16269635/5951529), what I can u

[2016-10-09 18:40] jgonggrijp commented on #12
Hello Kristina,

While it seems to work in most cases, pip-review is not officially supported under Python 3. In addition, I received some reports that pip-review does not work under Windows. I will fix these issues eventually, but I cannot promise it will happen soon.

Sorry for the disappointment. Until `pip-review` works for your setup, these are your options:

  - In order to **list all packag

[2016-10-09 22:26] #11 closed

[2016-10-09 22:26] #12 closed

[2016-10-09 23:05] #2 closed

[2016-10-09 23:24] jgonggrijp commented on #12
Actually, I found a way that should fix this. Please `pip install -U pip-review` to [version 0.5](https://pypi.python.org/pypi/pip-review/0.5) and let me know whether your issue is resolved. :-)

[2016-10-09 23:25] jgonggrijp commented on #11
As of [version 0.5](https://pypi.python.org/pypi/pip-review/0.5), pip-review is also installed as a module under the name `pip_review` (note the underscore instead of the dash).

[2016-10-26 11:47] OrangeDog opened #13 "Setuptools ignored"
On Windows Python 2.7.12 you get this peculiar output:

[code]

I then proceeded to successfully update cassandra-driver, but it doesn't appear to be able to see setuptools at all.

[code]

[2016-10-26 15:41] jgonggrijp commented on #12
@Kristinita Did you see the update?

[2016-10-26 15:43] jgonggrijp commented on #9
From #13 it appears that pip-review does not update `setuptools`, either. I did not find an exception list in the source code, so both omissions are mysterious. Pull requests are welcome.

[2016-10-26 15:52] jgonggrijp commented on #13
Regarding the omission of `setuptools`, that reminds me of the omission of `pip` itself which appeared in an older issue (linked above). Fixing it on my own is not high enough on my priority list, but pull requests are welcome.

Regarding the misplaced `(` in the console output: is that happening consistently in Windows Py 2? If so, please open a new ticket and specify your terminal emulator (e.g.

[2016-10-27 09:40] OrangeDog opened #14 "Missplaced ) in Windows output"
Split from #13

[code]

pip-review 0.5
Consistent across multiple versions of Windows 10.
Same issue in Command Prompt, PowerShell and mintty.

[code]

[2016-10-27 09:44] OrangeDog commented on #14
My guess is that a previous parse only looked for `\n` instead of the platform line endings.
We see here that there is an extra `\r` at the end of the current version number.

[code]

[2016-10-27 20:52] jgonggrijp commented on #14
Good research, thanks for reporting!

[2016-10-27 21:04] jgonggrijp opened #15 "Travis builds are failing while pip-review actually works"
If you find a way to repair the tests, please submit a pull request!

[2016-11-04 03:44] Kristinita commented on #12
@jgonggrijp , thanks, now `pip-review` normally worked for me!

[2016-11-04 14:54] xoviat commented on #15
Is there a particular reason that Python26 is still supported?

[2016-11-04 15:46] jgonggrijp commented on #15
No, except that it still appears to work. As long as it works without additional effort, I intend to support it. But given that choice, I believe some work to repair the test is justified.

[2016-11-05 16:21] xoviat commented on #9
The reason for the omission is that neither setuptools nor pip are listed in the `pip freeze` command. What I will probably do is run `pip list --outdated` and then cross check the results with `pip freeze` in order to ensure that no packages are omitted. However, that method would require an explicit exemption for pip unless we want to have `python -m pip` logic.

[2016-11-05 16:23] xoviat commented on #9
I should say that I would personally favor upgrading pip as well. Would it be acceptable to put the `python -m pip` logic in?

[2016-11-05 21:50] jgonggrijp commented on #9
I don't know. What do you mean by "the `python -m pip` logic"? Does pip behave differently when invoked as a module? Are you talking about actually borrowing logic from pip, or just about taking a particular approach?

[2016-11-06 03:50] xoviat commented on #9
When pip upgrades itself, [the documentation recommends](https://pip.pypa.io/en/stable/installing/#upgrading-pip) that instead of executing `pip install --upgrade pip`, the command `python -m pip install --upgrade pip` should be executed because pip is overwriting its own files. The logic that I am suggesting is that if and only if pip is being upgraded, it should be run in module mode, otherwise,

[2016-11-06 20:26] jgonggrijp commented on #9
If you mean "make a special case for upgrading pip in the code, where pip itself is upgraded using `python -m pip` instead of just `pip`", I'm totally fine with that.

[2016-11-07 22:28] #9 closed

[2016-11-07 22:28] #14 closed

[2016-12-02 13:27] brupelo opened #17 "Printing uncorrectly package names"
For some reason on python3.5.1 win7 the first letters of the packages (when asking if i want to upgrade or not) are wrong, you can see what i mean on this [screen](https://dl.dropboxusercontent.com/u/21334722/Uploads/2016/12/2016-12-02_14-26-18.png)

[2016-12-02 15:32] jgonggrijp commented on #17
Yes, this is a known issue (#14). It was fixed in #16, but I haven't published a new version that includes the fix yet.

[2016-12-02 15:32] #17 closed

[2016-12-02 17:14] brupelo commented on #17
Cool, thanks, looking forward for the new release ;)

[2016-12-15 10:26] caedn opened #18 "pip-review does not find updates, pip list --outdated does"
[code]

This happens with Python 2.7.12, the builtin version of macOS and with Python 3.6.0rc1 as well.

As a workaround I've used: `pip2 list --outdated|cut -d' ' -f1|xargs pip2 install --upgrade`.
If you want it to be interactive you could do something like `pip2 list --outdated|vipe|cut -d' ' -f1|xargs pip2 install --upgrade`.

[2016-12-15 21:42] jgonggrijp commented on #18
Just for completeness: does this only happen with global packages, or also in a virtual environment? In the former case, using a virtual environment may be another possible workaround.

[2016-12-15 21:48] jgonggrijp commented on #7
I'm closing this for lack of evidence that there is an actual issue. Please add a new comment if you feel this issue should be reopened.

[2016-12-15 21:48] #7 closed

[2016-12-15 22:18] jgonggrijp opened #19 "Old pull request for parallel version lookups"
https://github.com/nvie/pip-tools/pull/162

I'm not really considering to adopt this, because I'm planning to implement pip-review on top of `pip list -o`, but it's useful to have the reference.

[2016-12-15 22:18] #19 closed

[2016-12-15 22:22] jgonggrijp opened #20 "Old problem with bidict==0.9.0"
Issued for reference. Won't fix, because from the description, it appears that the bug is in the package rather than in pip-review.

https://github.com/nvie/pip-tools/issues/164

[2016-12-15 22:22] #20 closed

[2016-12-15 22:26] jgonggrijp opened #21 "pip-review chokes if `pip freeze` emits -e or -f"
https://github.com/nvie/pip-tools/issues/175
https://github.com/nvie/pip-tools/issues/111
https://github.com/nvie/pip-tools/issues/93
https://github.com/nvie/pip-tools/issues/79
https://github.com/nvie/pip-tools/issues/66 (references potential fix in https://github.com/coagulant/pip-tools/commit/2b1f0bc0763fefc81152d730e7aa7080c2ad4258)
https://github.com/nvie/pip-tools/issues/54
https://github.co

[2016-12-15 22:39] jgonggrijp commented on #10
I just found out that this issue appears to have been reported before to the original pip-tools repo. That ticket contained more examples.

https://github.com/nvie/pip-tools/issues/123

[2016-12-15 23:04] jgonggrijp commented on #21
https://github.com/nvie/pip-tools/issues/111 appears to be related.

[2016-12-15 23:09] jgonggrijp opened #22 "Excluding Debian-installed python packages"
https://github.com/nvie/pip-tools/issues/109

Just adding this for reference.

[2016-12-15 23:09] #22 closed

[2016-12-15 23:13] jgonggrijp commented on #21
And another: https://github.com/nvie/pip-tools/issues/79. This one contains a workaround as well.

[2016-12-15 23:19] jgonggrijp opened #23 "Old PR to turn pip-review into pip-compile --update"
https://github.com/nvie/pip-tools/pull/72. Referenced for archiving purposes; the fork has gone, but the code changes are still visible in the pull request.

[2016-12-15 23:20] #23 closed

[2016-12-15 23:23] jgonggrijp opened #24 "Add positional arguments for restricted lookup"
Requested once upon a time by @wodow in nvie#68.

[2016-12-15 23:27] jgonggrijp commented on #21
Also nvie#93 and nvie#66, with the latter referencing a potential fix in https://github.com/coagulant/pip-tools/commit/2b1f0bc0763fefc81152d730e7aa7080c2ad4258.

[2016-12-15 23:48] jgonggrijp opened #25 "Need to append #egg=pkgname to each -e line in requirements"
https://github.com/nvie/pip-tools/issues/40

[2016-12-15 23:48] #25 closed

[2016-12-15 23:52] jgonggrijp opened #26 "VCS support"
https://github.com/nvie/pip-tools/issues/30

[2016-12-15 23:52] #26 closed

[2016-12-15 23:57] jgonggrijp opened #27 "Support nonstandard PyPI servers"
https://github.com/nvie/pip-tools/issues/26

I do not consider this important. Will probably automatically be fixed when I implement pip-review on top of `pip list -o` (#32). Otherwise, I will accept pull requests.

[2016-12-16 00:05] jgonggrijp opened #28 "The discussion that led to pip-review being replaced by pip-compile"
For the archive: https://github.com/nvie/pip-tools/issues/10

[2016-12-16 00:05] #28 closed

[2016-12-21 13:26] k4rtik opened #29 "pygobject==2.28.3 is available (you have 3.22.0)"
Why doesn't `pip-review` correctly identify the semantic version here? I see this on both macOS and Linux.

[2016-12-21 20:08] jgonggrijp commented on #29
This is a known issue (#10), but we don't know what's causing it yet. Can you help?

(If you choose to help investigate, please put further responses in #10. I'm closing this ticket.)

[2016-12-21 20:08] #29 closed

[2016-12-21 20:16] jgonggrijp commented on #13
I now realize that this issue was closed by accident. Reopening.

[2017-01-04 20:59] lardconcepts commented on #10
More examples

[code]

[2017-01-09 19:30] bil-elmoussaoui opened #30 "pip-review does not compare versions correctly"
I'm using pip-review with python3.6 on Linux
As you can see here what i got by runing `sudo pip-review --interactive`
`isc==0.0.0 is available (you have 2.0)`
`louis==1.3 is available (you have 3.0.0)`
`python-sane==2.8.2 is available (you have 2.8.3)`
`pygobject==2.28.3 is available (you have 3.22.0)`

I can push a fix if you wish ;)

[2017-01-10 15:16] jgonggrijp commented on #30
Please do. Note that this is a duplicate of #10; please refer to that issue in your pull request.

[2017-01-10 15:16] #30 closed

[2017-01-15 11:25] #10 closed

[2017-01-15 11:28] jgonggrijp commented on #10
@ElMoribond @lardconcepts @k4rtik can you please try the current version from develop on the system on which you experienced this issue? It should be fixed thanks to the patch by bil-elmoussaoui.

[2017-01-15 11:32] jgonggrijp opened #32 "Reimplement pip-review on top of pip list --outdated"
Instead of using `pip freeze` to get a list of installed packages and then running custom code to fetch the latest version from pypi.python.org, simply call `pip list --outdated` to get all the necessary information at once. Forward arguments like `--pre`, `--local` and `--user` directly to the call to `pip list --outdated`.

Will allow us to replace the `load_pkg_info`, `guess_pkg_name`, `get_pkg

[2017-01-15 16:50] k4rtik commented on #10
That's great news, I have not seen the issue appear in last couple of weeks. However, is the following expected behavior?

[code]

[2017-01-15 21:08] jgonggrijp commented on #10
Well that is "expected", in the sense that it is a known but unrelated problem: #13.

[2017-01-16 00:31] k4rtik commented on #10
@jgonggrijp as long as that is also expected on macOS, I am okay with it. 😄

[2017-01-17 10:23] jgonggrijp commented on #13
@k4rtik pointed out that the problem is also occurring in macOS. It probably applies to every Python version on every platform, hence the title change.

[2017-01-19 16:06] Flimm opened #33 "Integrate with changelogs"
Here's a feature request: what about integrating with [`changelogs`](https://pypi.python.org/pypi/changelogs), so that you can see a list of recent changes before accepting or rejecting an upgrade?

If this sounds like a good idea, I may spend some time trying to write it.

[2017-01-20 22:11] jgonggrijp commented on #15
cElementTree is in the tests because of `## FIXME:` output in `pip freeze` (see nvie#9). When #32 is resolved, we won't be using `pip freeze` anymore, so cElementTree can be removed from the tests. That will remove the barrier to including Python 3 in the Travis build. Credits to @Flimm for research.

[2017-01-20 22:29] jgonggrijp commented on #33
Let's find out whether users think this is a good idea. :-)

Visitors, please add an emoticon to the opening post to indicate what you think.

For reference: link to the GitHub repo of `changelogs`.
https://github.com/pyupio/changelogs

[2017-01-21 15:01] jgonggrijp commented on #13
On 21. December I said this issue was closed by accident (see above). I was wrong; the issue was actually solved by @xoviat in ea283bb. Closing forever now. Sorry for the confusion.

[2017-01-21 15:01] #13 closed

[2017-01-21 16:18] jgonggrijp commented on #24
This will be easy to implement when #32 is resolved.

[2017-01-21 16:27] jgonggrijp opened #38 "Convert the README to reStructuredText"
So it will be detected automatically by setuptools.

[2017-01-22 09:24] bil-elmoussaoui commented on #32
I've fixed #32 #6 #18  and #21, should i open separate PR or just one is enough ?
It need some testing :)

[2017-01-22 10:44] jgonggrijp commented on #32
That's great! I think one pull request is sufficient, because (I believe) all these issues are tightly coupled.

Please be prepared for some review rounds before it gets accepted. This is something I want to get right from the first moment and I happen to be opinionated on the matter. I should emphasize that I'm glad you took up on this, though. ;-)

[2017-01-22 11:59] #15 closed

[2017-01-22 12:10] jgonggrijp opened #39 "Look out for a more robust testing framework"
I'm not a great fan of `cram`. It works, but it forces us to write workarounds (see #37). If you can think of a better solution, please let me know.

[2017-01-22 12:19] jgonggrijp opened #40 "Some functionality is still lacking tests"
In particular, the following options:

 - `--verbose`
 - `--raw`
 - `--interactive` (though possibly not worth the effort because of cumbersome test implementation; see #39)
 - `--editables` (possibly related to #21)
 - `--local` (might be too difficult to test because of Travis CI restrictions; skip in that case)
 - `--pre`

**Please wait** with taking up on this issue until #32 is resolved, thou

[2017-01-22 22:55] #24 closed

[2017-01-22 23:18] jgonggrijp commented on #32
Updated the title and the opening post because of #41.

[2017-01-23 21:08] xoviat commented on #32
Not going to do this myself, but this should be trivial with the `--format` option:

[code]

[2017-01-23 21:12] xoviat commented on #32
And then I read the PR and find out that `--format` is too new.

[2017-01-23 23:05] jgonggrijp commented on #32
It's complicated.

[2017-01-23 23:55] jgonggrijp opened #42 "Re-enable testing for Python 3"
... by merging the feature/python3 branch. Depends on #32 and by extension, #41. See also #15 and a45a784.

[2017-01-24 00:28] bil-elmoussaoui commented on #33
Might be a good idea but only if the user enables that (--changelog) or something else.

[2017-01-24 00:37] #38 closed

[2017-01-31 12:03] Tset-Noitamotua opened #43 "Q: Is it planned to merge this into pip?"
Hey, I like the idea but don't like to install another package. Instead I would like to see this functionality in native pip. Do you plan to make a pull request?

It would be cool if `pip list` output would look like:

[code]

[2017-01-31 16:04] jgonggrijp commented on #43
What you describe is `pip list --outdated --format=columns`. Incidentally, pip-review will be a wrapper around `pip list --outdated` when #32 is resolved. @bil-elmoussaoui is currently working on that in #41. However, you will still need to install pip-review as a separate package after that if you want to have the `--auto` or `--interactive` functionality.

pip-review was not originally forked fr

[2017-02-05 03:01] xoviat commented on #43
I'm somewhat familiar with the situation. `pip-review` cannot be merged into `pip`

because `pip` does not have a dependency solver,
because implementing a dependency solver in `pip` is currently impossible,
because the `pip` maintainers will not accept any solutions until some PEP is completed, and it's not
because the PEP they want completed is currently "on hold"
because they want another PEP t

[2017-02-05 05:35] sth4nothing opened #44 "Use subprocess.call([sys.executable, '-m', 'pip', ...]) to call pip"
Do **not** use "`os.system('pip install {0}=={1}'.format(pkg, version))`".

Instead, I suggest doing as follows:
[code]

Sorry for my poor English.

[2017-02-05 05:39] sth4nothing commented on #44
And so, check for updates : `pip.main(['list', '-o'])`

[2017-02-05 10:53] jgonggrijp commented on #43
Thanks for sharing your knowledge on this, @xoviat.

I am a bit confused. What does dependency tracking have to do with integrating `pip-review` into `pip`?

Answering your questions:

(1) Right now, I am somewhat inclined to say "no", but please continue discussing your ideas. Once I better understand the relation between merging into `pip` and dependency tracking, you might be able to convince m

[2017-02-05 11:09] jgonggrijp commented on #44
@sth4nothing Please explain what you mean by "cannot work well with multiple versions of Python". What problems may arise in our current use of `os.system`? How does `pip.main` solve that?

Regarding the use of `pip list -o`: this is already work in progress. See #32 and #41.

[2017-02-05 11:22] sth4nothing commented on #44
@jgonggrijp if both python3.5 and python3.4 are installed, the problem will be triggered. And use `pip.main()` can avoid this.

[2017-02-05 16:26] xoviat commented on #43
`pip` will not accept any feature which upgrades packages automatically until `pip` has a dependency solver.

I glanced at that implementation and it looks like it downloads packages to discover the requirements. That is really a less than ideal implementation because you may need to backtrack. [enthought/sat-solver][1] is a better implementation, but it's currently unworkable because as I said, y

[2017-02-05 16:34] xoviat commented on #43
In case you're wondering the PEP that appears to be blocking everything is [PEP 426][1]. Apparently no progress can be made until it's completed, but the current status is "deferred." Possibly it has become bogged down in bureaucracy.

[1]: https://www.python.org/dev/peps/pep-0426/

[2017-02-06 10:02] jgonggrijp commented on #43
So what about the `--process-dependency-links` option of `pip list`? Is that something else?

[2017-02-06 10:04] jgonggrijp commented on #44
@sth4nothing *What problem* will be triggered if both Python 3.5 and Python 3.4 are installed?

[2017-02-06 10:25] sth4nothing commented on #44
@jgonggrijp Sorry for my unclear description. Suppose that one has install 3.4 & 3.5 or other versions, and the default `pip` command is the pip of python3.5, when he wants to update packages of python3.4, things will go wrong.

[2017-02-06 13:27] xoviat commented on #43
That has nothing to do with solving dependencies, and it's also been removed in pypa/pip#3939.

[2017-02-06 13:37] xoviat commented on #43
By the way, when I say _dependency solver_, I mean an algorithm that can address this:

[2017-02-06 15:17] jgonggrijp commented on #44
Would it not make more sense to use separate virtual environments in such a case? See http://docs.python-guide.org/en/latest/dev/virtualenvs/ .

I'm hesitant to depend on `pip` internals, because they do not have any policy in place to promise any feature stability. In other words, they do not offer a supported API.

[2017-02-06 15:21] jgonggrijp commented on #43
Thank you for the explanation! Closing then.

[2017-02-06 15:21] #43 closed

[2017-02-06 15:41] xoviat commented on #44
Actually, what you're supposed to do is this:

[code]

[2017-02-06 15:44] xoviat commented on #39
py.test seems to be the bandwagon these days. In addition, some people (not me personally) like to wrap it with tox.

[2017-02-06 15:48] sth4nothing commented on #44
@xoviat wow, thanks!

[2017-02-06 15:59] jgonggrijp commented on #39
I love py.test, but it is meant for unit tests. I think it is a good idea to add unit tests (with py.test), but those do not replace wholesale functional tests, which is what cram currently provides.

[2017-02-06 16:00] jgonggrijp commented on #44
Yes, that looks like the best of both worlds. I welcome pull requests that implement what @xoviat suggested.

[2017-02-06 16:04] xoviat commented on #39
PyInstaller has [extensive functional testing][1] all based on py.test.

[1]: https://travis-ci.org/pyinstaller/pyinstaller/jobs/198403202

[2017-02-06 20:15] jgonggrijp commented on #39
Thanks, I'll study that.

[2017-02-10 20:37] xoviat commented on #43
This issue is closed, but I couldn't find the discussion that I was remembering involving @nlhkabu. For historical purposes, it is in pypa/warehouse#789.

[2017-02-21 13:59] jgonggrijp commented on #44
Closed in #45. The change will be included with the 1.0 release.

[2017-02-21 13:59] #44 closed

[2017-03-24 15:18] sbibauw opened #46 "How to use pip-review for various Python versions?"
I have both Python 2.7 and 3.6 installed (by Homebrew). When running `pip-review`, it only tries to update `python2.7/site-packages/` (as would `pip` or `pip2` list them).

Is there a way to force `pip-review` to update Python 3 packages? A kind of `pip-review3` or `pip-review --python3`? (I have looked at `--help` and issues here but haven't found a solution...)

[2017-03-25 21:09] jgonggrijp commented on #46
Does `python3 -m pip_review` work for you?

[2017-03-26 20:55] sbibauw commented on #46
@jgonggrijp It works, but does the exact same as `pip-review` (only updates python2.7 dependencies), even though it is installed as a python3.6 package...

[2017-03-27 15:10] jgonggrijp commented on #46
Oh, I understand. I believed this was already fixed because of #44. However, that pull request hasn't been merged yet. Which is my fault. I will try to bring out a new release asap.

In the meanwhile, your best option is probably to use a virtualenv.

[2017-03-27 20:59] sbibauw commented on #46
Great, thank you!

[2017-03-31 02:28] xoviat opened #47 "Document that selfupdate requires call by `python -m pip_review`"
this problem happens for the same reason that pip needs to be upgraded with `python -m upgrade pip`. solutions for this are the following:

- don't allow pip-review to upgrade itself
- start a daemon process that waits until the parent has exited, then run the upgrade

@jgonggrijp what do you think?

[2017-04-04 06:53] jgonggrijp commented on #47
I'm hoping to merge and release #44 soon. Would that solve this issue? I would like to avoid both options in your bullet list, if possible.

[2017-04-04 14:48] xoviat commented on #47
No. This problem is specifically caused by entry_points (which I believe I added). The machinery that calls the function that you defined opens file locks that aren't returned until the entry point function returns. When pip is called, it notices those file locks and aborts.

[2017-04-05 10:36] jgonggrijp commented on #47
If `entry_points` is the problem, then the entire problem can be avoided by calling `python -m pip_review` instead of the generated `pip-review` executable. Right?

FWIW, I implemented the `entry_points` solution.

[2017-04-05 11:58] k4rtik commented on #18
Facing the same issue.

[code]

while

[code]

About @jgonggrijp's question, I am not using virtual environments.

[2017-04-05 15:05] xoviat commented on #47
Correct.

[2017-04-08 23:38] #46 closed

[2017-04-08 23:38] #47 closed

[2017-04-09 00:45] jgonggrijp opened #48 "setuptools-specific features in setup.py break Travis build"
In the latest release branch, I converted `setup.py` to use the proper notation for supported Python versions (ccf48c30) and platform-specific dependencies (47203ee3). Unfortunately, that [broke the Travis build](https://travis-ci.org/jgonggrijp/pip-review/builds/220136344). For some unclear reason that I need help with, these features cause the installation step to fail at `pip install .`. I do n

[2017-04-09 01:23] rachmadaniHaryono opened #49 "broken on local installed package"
how to recreate the bug;

- install package from local folder.
- run pip-review (i run this way `python3 -m pip_review)
- pip-review report error and and paused indefinitely. user have to press `ctrl-c` to stop the program. see below for error message.

pip-review version  0.5.3 (no `pip-review --version`?) on .Python 3.5.2+

Linux q-N-a 4.7.10-040710-generic #201610220847 SMP Sat Oct 22 13:04:07

[2017-04-10 10:29] jgonggrijp commented on #49
What do you mean by "install package from local folder"? Did you run `python setup.py install` or ` pip install .` or something else?
What is the output of `which python3`?

Have you generated an `.egg-info` file in your project directory? In that case, you are probably running into the problem that `pip freeze` is treating your module as an editable package, which breaks because it isn't associat

[2017-04-10 10:44] rachmadaniHaryono commented on #49
i run `pip install -e .` on local folder.

    /usr/bin/python3

yes

it did. thanks

[2017-04-10 10:44] #49 closed

[2017-04-10 21:28] jgonggrijp commented on #49
For completeness: work is in progress to stop using `pip freeze` (see #32 and #41). When that is out, this catch with the local `.egg-info` might be eliminated, although I'm not completely sure what to expect yet.

[2017-05-21 22:02] xoviat commented on #48
@jgonggrijp Fixed

[2017-05-22 09:15] #48 closed

[2017-05-23 03:41] JulesGM opened #52 "tries to upgrade ipython to 6.0 on Python 2, which is impossible and never will be possible"
Hello Guys,
`pip-preview` currently tries to upgrade Python 2  's ipython to 6.0, even though it's not available on python 2, and never will, as the jupyter/ipython devs have come out clearly saying they will never support python 2 on 6 and onwards.
 `pip list --outdated` accurately doesn't show ipython 6.0 for Python 2.

[2017-05-23 10:32] jgonggrijp commented on #52
Thanks for reporting this. This will be fixed with #41.

[2017-08-07 23:19] jgonggrijp commented on #33
@Flimm I think you can give it a go.

[2017-08-10 08:07] jgonggrijp commented on #32
New related PR: #53.

[2017-08-10 08:07] jgonggrijp commented on #42
May now depend on #53 instead of #41.

[2017-08-10 21:52] jgonggrijp opened #54 "Implicit dependency on setuptools, possibly better to use packaging"
I just noticed that `pip_review.__main__` imports `parse_version` from `pkg_resources`, which is part of setuptools. Setuptools is not listed as a dependency in the `setup.py`, so technically, this is bug. However, it is not a severe one, as to my knowledge nobody has run into trouble yet by trying to run pip-review in an environment without setuptools.

We could just make setuptools an explicit d

[2017-08-11 13:20] jgonggrijp commented on #32
Closed in [version 1.0](https://github.com/jgonggrijp/pip-review/releases/tag/1.0).

[2017-08-11 13:20] #32 closed

[2017-08-11 13:20] jgonggrijp commented on #42
Closed in [version 1.0](https://github.com/jgonggrijp/pip-review/releases/tag/1.0).

[2017-08-11 13:20] #42 closed

[2017-08-11 13:21] jgonggrijp commented on #6
Closed in [version 1.0](https://github.com/jgonggrijp/pip-review/releases/tag/1.0).

[2017-08-11 13:21] jgonggrijp commented on #18
Fixed in [version 1.0](https://github.com/jgonggrijp/pip-review/releases/tag/1.0).

[2017-08-11 13:21] #18 closed

[2017-08-11 13:21] jgonggrijp commented on #21
Fixed in [version 1.0](https://github.com/jgonggrijp/pip-review/releases/tag/1.0).

[2017-08-11 13:21] #21 closed

[2017-08-11 13:22] jgonggrijp commented on #27
Closed in [version 1.0](https://github.com/jgonggrijp/pip-review/releases/tag/1.0).

[2017-08-11 13:22] #27 closed

[2017-08-11 13:22] jgonggrijp commented on #52
Fixed in [version 1.0](https://github.com/jgonggrijp/pip-review/releases/tag/1.0).

[2017-08-11 13:22] #52 closed

[2017-08-11 13:32] jgonggrijp opened #56 "Add a LICENSE.txt"
The project is documented as being distributed under the BSD license. This is intended (both by Vincent Driessen and by myself), but no license file is included. This [appears to be necessary](https://packaging.python.org/tutorials/distributing-packages/#license-txt). So I'll add it sometime soon.

[2017-08-14 21:39] jgonggrijp commented on #56
@nvie Is it OK with you if I add the [3-clause BSD license text](https://opensource.org/licenses/BSD-3-Clause) to the pip-review repository with the following header?

    Copyright 2012-2015 Vincent Driessen
    Copyright 2015-2017 Julian Gonggrijp

[2017-08-15 22:23] jgonggrijp commented on #40
Updated because of version 1.0.

[2017-08-20 16:49] AnthonyWC opened #58 "python3 pip doesn't have version 1.0"
[code]

[2017-08-20 19:23] xoviat commented on #58
This is not this project's fault. It's either your fault or the fault of someone over at [pypa](https://github.com/pypa).

[2017-08-20 20:46] jgonggrijp commented on #58
No, I suspect it is @AnthonyWC's fault for failing to update his python3 `site-packages`. You have separate package directories for each installation of Python and you have to update your packages separately in each. pip-review is no exception to this rule.

See my shell output below. Please reopen and/or comment if you feel I'm in error.

    $ python --version
    Python 3.5.4

    $ pip --versi

[2017-08-20 20:46] #58 closed

[2017-08-21 11:26] nvie commented on #56
Completely fine by me 👍

[2017-08-21 14:07] jgonggrijp commented on #56
Thanks, cheers!

[2017-10-04 13:11] HaleTom commented on #6
For other googlers wondering, `pip-review --auto --user` works.

[2017-10-05 07:08] Flimm commented on #33
This has been on my list of things to do when I get round to it for a while now.

I recently discovered [Snyk](https://snyk.io/docs/using-snyk/), which lets you run `snyk test` and will print out any vulnerabilities that are in any of your dependencies. This fulfils one of the needs I had from wanting to see changelogs. The other need is to be able to catch breaking changes, and that need is still

[2017-10-05 08:36] jgonggrijp commented on #33
For completeness, there is also [requires.io](https://requires.io).

[2017-10-24 02:51] ABruihler opened #59 "pip-review also updates pip, maybe mention that in the Readme"
Quick question that I'm not knowledgable enough to figure out the answer myself and haven't been able to find out through searching - does pip-review update pip itself, or not?  Also, would this be good to mention in the README, or is it just something that's obvious to everyone except me?

[2017-10-24 09:20] jgonggrijp commented on #59
As of version 1.0, `pip-review` is a thin wrapper around `pip`. The status as a wrapper is documented, both in the Readme and in `pip-review -h`. Pip does update itself, so yes, pip-review will update pip. Basically, neither pip nor pip-review will make an exception for any package. Do you believe that belongs in the Readme?

[2017-10-26 03:12] ABruihler commented on #59
Thanks!  I guess that somehow I hadn't made that connection and hadn't checked to see if `pip` updates itself.  I do think that it would be helpful for some to include this in the Readme, perhaps in something like a FAQ at the bottom, or by change the example to include upgrading `pip`?  On the other hand, I suppose it is something that should be pretty apparent (especially with an issue about it

[2018-01-20 16:54] gleb-chipiga opened #60 "Version 1.0 crashes"
Ubuntu 17.10, Python 3.6.3, pip 9.0.1

Exception:
Traceback (most recent call last):
  File "/home/gleb/.virtualenvs/dev/lib/python3.6/site-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/home/gleb/.virtualenvs/dev/lib/python3.6/site-packages/pip/commands/list.py", line 157, in run
    packages = self.get_outdated(packages, options)
  File "/home/gleb/

[2018-01-20 20:04] jgonggrijp commented on #60
The last line of your traceback is telling me that `pip list` is actually the crashing program. It appears you also reported the problem there: https://github.com/pypa/pip/issues/4980. Closing here.

[2018-01-20 20:04] #60 closed

[2018-01-20 21:48] jgonggrijp opened #61 "Use py.test instead of cram"
See #39.

[2018-01-20 21:49] jgonggrijp commented on #39
Closing this as I consider it an archived discussion.

[2018-01-20 21:49] #39 closed

[2018-01-21 15:49] jgonggrijp commented on #60
For future reference: the solution is `pip3 install --ignore-installed pip`.

[2018-03-02 21:04] AnthonyWC commented on #58
Somehow I missed this update but the command needed was:
`python3 -m pip install -U pip-review --user`

Due to the user specific install that I had.

[2018-04-26 17:37] petobens opened #62 "Pass --ignore-installed and other flags to pip install"
Is there a way to pass the `--ignore-installed` flag? If there isn't can you add the feature? Thanks!

[2018-04-26 20:59] petobens commented on #62
Ok. Will set the option through the pip config file in the mean time. Thanks for the quick reply.

[2018-06-04 16:16] x-ji commented on #6
For some reason using this flag still doesn't work:

[code]

Running manually `pip install --user --upgrade absl-py` works somehow.

[code]

- System:    Host: jx-X1 Kernel: 4.14.47-1-MANJARO x86_64 bits: 64 compiler: gcc v: 8.1.0 Desktop: i3 4.15.0.1 Distro: Manjaro Linux 17.1.10 Hakoila
- Python: 3.6.5
- pip: 10.0.1

[2018-06-04 20:43] jgonggrijp commented on #6
@x-ji Thanks for reporting. I'm going to look into this some time after June 15.

[2018-07-15 11:21] FriedrichFroebel opened #63 "TypeError with pip 10.0.1"
I am using Python 3.6.6 with pip 10.0.1 on Manjaro Linux. Trying to run the usual `sudo pip-review -i` command throws an error:

[code]

[2018-09-20 19:52] texasreddog opened #64 "pip-review hangs when running"
I've been using pip-review for a while, but it has just seemed to stop working recently.  when I try to run it on the command line with the -i option, it just sits and hangs and never returns anything.  I finally have to Ctrl-C to get out of it, then it shows:

C:\Users>pip-review -i
Operation cancelled by user
Traceback (most recent call last):
  File "c:\python27\lib\runpy.py", line 162, in _run

[2018-09-21 18:56] jgonggrijp commented on #64
Thanks for reporting this. Which version of pip-review and which version of pip are you using? Did you recently update either of those?

[2018-09-21 19:08] texasreddog commented on #64
I'm using pip version 18.0, which was recently updated.  pip-review is at 1.0, which I think is the latest.
      From: Julian Gonggrijp <notifications@github.com>
 To: jgonggrijp/pip-review <pip-review@noreply.github.com>
Cc: texasreddog <texasreddog@yahoo.com>; Author <author@noreply.github.com>
 Sent: Friday, September 21, 2018 1:56 PM
 Subject: Re: [jgonggrijp/pip-review] pip-review hangs when

[2018-09-21 21:58] jgonggrijp commented on #64
It may very well be the case that pip-review 1.0 (which is indeed the latest version) isn't compatible with pip 18. I haven't tested this combination yet. I'll look into it.

[2018-09-22 19:50] jgonggrijp commented on #64
On my mac, pip-review 1.0 works fine with pip 18, both under python 2.7 and python 3.5. So if this is a real issue, it is probably windows-specific. I need help from a Windows user to figure out what is causing this issue. @texasreddog, could you give this a try, perhaps with a fresh virtual environment to rule out side effects from installed other packages?

[2018-09-22 20:46] #56 closed

[2018-09-24 15:37] jgonggrijp opened #65 "README doesn't appear on PYPI anymore"
This has been a problem since release 1.0. I'm currently trying to fix it.

[2018-09-26 14:11] KonomiKitten opened #66 "Please provide versioned bins"
Currently when doing `sudo pip2 install pip-review` will output `/usr/local/bin/pip-review` this is fine if you're using only python2 but on my system I'd like to use use python3 as well. Doing `sudp pip3 install  pip-review` will also output to `/usr/local/bin/pip-review` breaking the the python2 version.

[code]

[2018-09-26 18:58] jgonggrijp commented on #66
You can do `python2 -m pip_review` and `python3 -m pip_review` in order to keep them separated. You can also use virtualenvs.

I'll leave this open, so other people can add a thumbs-up if they believe pip-review should have versioned bins.

[2018-09-27 15:38] KonomiKitten opened #67 ""Available" and "you have" versions are the same but still obsolete?"
I don't get why `pip-review` lists these packages, they're at the latest version.

[code]

[2018-09-27 18:30] jgonggrijp commented on #66
@KonomiKitten It is briefly mentioned in the Readme:

I'll add a sentence to point out this use case.

[2018-09-27 18:36] jgonggrijp commented on #67
I agree this output is surprising. What happens if you run

[code]

from the same directory?

`--local` is supposed to be used with a virtualenv. Are you running these commands inside a virtualenv?

If you are running these commands inside a virtualenv, why are you using `sudo`?

[2018-09-27 18:40] KonomiKitten commented on #67
[code]

I'm not in a virtualenv. I was under the impression that `--local` was for `/usr/local/` am I mistaken?

[2018-09-27 18:45] cjbassi opened #68 "pip-review tries to update packages installed with `--user` at a root level"
I'm trying to update packages installed with `pip install --user` so I ran `pip-review --user --auto` which correctly detects the right user level packages to upgrade, but then tries to install them globally to `/usr/lib/python3.7/site-packages/...`.

[2018-09-28 09:36] jgonggrijp commented on #67
[code]

Your output from `pip list` (in both cases) is telling me is that you are running into an issue with `pip`. `pip-review` is just copying the behaviour from `pip`. Please search the [pip issue list](https://github.com/pypa/pip/issues) to check whether other people have run into this, too. If not, you can submit a new issue there and show your output from `sudo python2 -m pip list --outdated

[2018-09-28 09:36] #67 closed

[2018-09-28 09:41] jgonggrijp commented on #68
Yes, this is a known issue. Please refer to #6 (closed) and #62 (open) for more information.

Until this is fixed, you can avoid the problem by using a virtualenv.

[2018-09-28 09:41] #68 closed

[2018-09-28 09:46] #66 closed

[2018-09-28 09:59] jgonggrijp opened #69 "Tests for Python 3.3 are failing"
Python 3.3 is end-of-life, but I'm committed to not dropping support for anything until the next major release. I still have a minor release to do, so I'm stuck with Python 3.3. for now.

The tests are currently rather over-complicated, with nested virtualenvs and doubly-force-upgraded installations of `pip` et al. I'm going to try whether I can simplify things and avoid incompatible versions of `

[2018-09-28 10:08] #54 closed

[2018-09-28 10:08] #59 closed

[2018-09-28 10:14] jgonggrijp commented on #62
I think I want to go for a compromise: hardcode a set of options that is recognized by `pip list` but not by `pip install` and vice versa. Pass those options only to the respective `pip` command. Pass all other unrecognized options to both.

This approach would mostly fix bugs, especially with the `--user` flag, but it may also cause unexpected behaviour in some cases. Technically, it is a breakin

[2018-09-28 15:38] cjbassi commented on #6
Just fyi, `pip-review --user --auto` gave me a permissions error by trying to install an out of date user package at the root site-packages even though the package was not installed at the root level. So it's just taking all out of date user packages and trying to install them at the root level.

[2018-12-09 04:53] ashwin31 opened #71 "option to update requirements.txt"

[2019-01-24 16:32] sylvain-bougnoux opened #72 "[interactive] show all update prior to ask for all"
`pip-review -i` shows the 1st update and ask for `yes, no, all, quit`. It would be convenient to show all possible updates prior to pressing 'A', because sometimes some packages must not be updated. If yes or no, only the 1st one will be treated. I understand I can call `pip list -o` before, but it is a bit long with many packages.

My 2c.

Thanks for this very useful tool anyway.

[2019-01-24 21:03] jgonggrijp commented on #72
Thank you for taking the effort to give feedback.

I'm not sure I understand the issue. You would like to see all the possible updates, but you find `pip list -o` a bit long. Surely, you expect to see the same list of possible updates from pip-review? In fact, this is almost exactly what you get to see when you run `pip-review` (without the `-i` or `-a` flag).

[2019-01-25 14:16] jgonggrijp commented on #72
Thanks for the explanation. Pull requests and more opinions welcome.

[2019-06-20 20:58] dimitry-ishenko commented on #6
Just to confirm, this is still an issue. Here's the output:

[code]

virtualenv has been installed using `pip install --user virtualenv`.
virtualenv is **not** installed in `/usr/lib/python*` or `/usr/local/lib/python*` or anywhere else in the system.
Running `pip install --user --upgrade virtualenv` I was able to update virtualenv.

[2019-06-25 09:26] jgonggrijp commented on #6
@dimitry-ishenko Yes, "this" is still an issue, but by "this" you mean #62. That issue has a poll; please read https://github.com/jgonggrijp/pip-review/issues/62#issuecomment-425390628 and leave an opinion if you have one.

[2019-06-26 11:59] Konfekt commented on #6
A brute solution to avoid updating all dependencies would be adding `--no-deps` to `pip install`. But maybe there is a flag to only avoid updating those dependencies for which there are no permissions.

[2019-07-10 02:19] dimitry-ishenko commented on #62
I vote for fix in version 1.x

[2019-09-05 13:37] bobzomer commented on #62
To avoid breaking change, we could add two new specific options:
- --install_only_parameters: All the parameters after this will be sent to install only
- --common_parameters: All the parameters after this will be sent to both list and install
Without these parameters, the unknown parameters are sent to list only => we keep a full backward compatibility.

[2019-09-05 15:27] jgonggrijp commented on #62
@bobzomer Clever! But isn't that a bit long-winded? If somebody is using the `--user` flag, they'll have to choose between two evils:

- `pip-review -i --user`, which is broken, or
- `pip-review -i --common_parameters --user`, which is rather long to type.

I imagine such users would happily accept a little bit of breaking change so they can have a short command that works correctly.

[2020-01-06 09:28] derrick-gopher commented on #44
Here is how i used sub-process for multiple arguments with pip.
[code]

[2020-01-10 14:59] jgonggrijp commented on #44
Thanks @derrick-gopher. I think what you're describing is essentially the same as in https://github.com/jgonggrijp/pip-review/issues/44#issuecomment-277720359 (a few comments up). This is also what is being used in pip-review 1.x.

[2020-01-13 04:06] derrick-gopher commented on #44
welcome, I commented because i could not find a proper example of adding pip options.
my challenge is that am using a company proxy,so i needed the extra options.

[2020-02-24 04:02] zhaowei0315 opened #75 "pip-review can'y upgrade for each package via proxy"
pip-review can'y upgrade for each package via proxy

[2020-02-28 14:34] jgonggrijp commented on #75
@zhaowei0315 Please give me a bit more information. What command did you run and what error did you get?

[2020-03-17 09:08] tan-wei commented on #62
Waiting for the update which makes `--user` more useful.

[2020-03-21 15:56] jgonggrijp commented on #72
@sylvain-bougnoux I suddenly wondered. Doesn't `pip-review` followed by `pip-review -a`approximately do what you describe?

[2020-03-21 20:50] #62 closed

[2020-03-21 21:32] jgonggrijp opened #76 "Looking for a new maintainer"
I'm about to release version 1.1.0 of pip-review. In addition to features and bugfixes that were requested or contributed in the past few years, that release will include a notice that I'm looking for a new maintainer to take over.

Until there is a new maintainer, at least in the foreseeable future, I will continue to accept pull requests and release new versions to PyPI once in a while. However,

[2020-03-21 22:11] jgonggrijp commented on #65
Fixed in 1.1.0.

[2020-03-21 22:11] #65 closed

[2020-03-21 22:34] jgonggrijp commented on #62
@tan-wei @bobzomer @petobens @joshbode @mihaic @HaleTom @x-ji @cjbassi @dimitry-ishenko @Konfekt This should be solved in version 1.1.0. Please install the update and report back here if there is still something not working.

Also, I'm looking for somebody to take over. See #76.

[2020-03-23 08:05] sylvain-bougnoux commented on #72
Actually yes. The only issue is that you have to wait twice for pip-review to know what to do. One pip-review call takes for me about 20-30s to respond. It is awkward to have to wait twice.
Thanks

[2020-03-23 11:38] jgonggrijp commented on #72
Ah, you mentioned the having to wait twice before. Sorry for overlooking that in my previous comment. I find the use case very reasonable.

How about the following. Add a `--batch` option which, when used together with `--interactive` (together `-ib` in short), will cause all available updates to show immediately, followed by a single question: `install all updates? (y/n)`.

Please don't wait for

[2020-03-25 03:33] tan-wei commented on #62
Thanks. I can confirm it works well on Manjaro now.

[2020-04-04 08:07] baterflyrity opened #77 "Add progress bar"
Hi.
When searching and updating a lot of packages there is no progress indicator and (or) remaining time.
Can someone add this feature? For example, simple implementation of progress indicators can be found [here](https://pypi.org/project/progress/).

[2020-04-04 08:15] baterflyrity opened #78 "Show overall results and errors"
Hi.
How can I see overall results including errors? Something like this:

[2020-04-04 08:42] baterflyrity opened #79 "Tryes to update pinned requirements"
Hi.
Reading change logs I found some points on that pip-review do not updates packages that are required by others. But it actually fails to handle this update case.

Also tensorflow works with errors/warnings.  So then i need to manually do something with this package.

I'm not sure how and where (guess in pip install) it fails but it does.

[2020-04-04 10:01] jgonggrijp commented on #78
@baterflyrity `pip-review` just makes a selection of packages to update and then hands everything to `pip install`, including the decision of what to print to `stdout`. If you want a final tally after installation, please submit a feature request to https://github.com/pypa/pip.

[2020-04-04 10:01] #78 closed

[2020-04-04 10:16] jgonggrijp commented on #79
@baterflyrity `pip-review` is a very simple tool that takes no dependencies into account and that simply updates everything to the latest version no matter what. This is a known limitation that the original creator solved by dropping `pip-review` altogether and replacing it by more sophisticated tools called `pip-compile` and `pip-sync`. These are part of the `pip-tools` package (which `pip-review

[2020-04-04 10:16] #79 closed

[2020-04-04 12:51] baterflyrity commented on #79
@jgonggrijp Thanks for forwarding. I had been really think that tools are discontinued before you replied.

[2020-05-21 20:28] Jacksole commented on #76
While, I'm not the prolific Python programmer, I'm willing to take a shot at taking over or assist in maintaining the program. @jgonggrijp

[2020-05-21 22:55] Jacksole opened #83 "Pip-review command not found"
I recently found this pip-review tool.

I see that build is failing but I installed it anyway, as I'm not a maintainer I don't know what is failiing but failing when I attempt to use the tool, I get this message pip-review: command not found.  I'm using Python 3.6.9 on WSL Ubuntu. The tool worked a few days ago, so if this tool isn't currently working.  @jgonggrijp

[2020-05-21 23:35] jgonggrijp commented on #76
Thank you for the kind offer, @Jacksole! Let's ride together in this for a while and see what happens.

Other people are still welcome to express their interest as well.

[2020-05-21 23:40] Jacksole commented on #76
Ok, thanks @jgonggrijp . So what would you need me to do?

[2020-05-21 23:48] jgonggrijp commented on #83
The Travis build is not failing in a serious way, though. Our test suite is very sensitive to the exact output given by the program. In Python <3.5, this output includes a warning about the Python version being obsolete, which trips up the test. If you push the "build failing" button, you will see that the tests actually pass in Python 3.6. So it is a problem with the test suite rather than with t

[2020-05-21 23:52] jgonggrijp commented on #76
Perhaps pick an issue from the list and see what you can do about it. Maybe you can figure out the issue that you reported yourself.

[2020-05-22 00:01] jgonggrijp commented on #76
@Jacksole also, please take your time and feel free to ask questions. I'm not in a hurry and it is okay to be new at this.

[2020-05-22 00:02] Jacksole commented on #76
@jgonggrijp Thanks

[2020-05-22 02:28] Jacksole commented on #83
No, I just did a standard pip install. No virtual enviroments

[2020-05-22 02:29] Jacksole commented on #61
Any headway on this issue?

[2020-05-22 09:02] jgonggrijp commented on #83
Strange. If you do `pip list`, does the list still include `pip-review`?

[2020-05-22 09:13] jgonggrijp commented on #61
The [pytest documentation](https://docs.pytest.org/en/latest/) is a nice primer on pytest in general. I suggest you start reading there and try to convert one of our cram tests to pytest.

There is also #39. Someone in there posted a link to the functional tests of PyInstaller, which were written with pytest as well, so they may serve as example code.

[2020-05-22 09:38] jgonggrijp commented on #61
To avoid confusion, there is currently one [test *file*](https://github.com/jgonggrijp/pip-review/blob/develop/tests/review.t) which contains multiple tests. This is one *test*:

https://github.com/jgonggrijp/pip-review/blob/04dcfe00c3f023c4b96ed53f27ca1386a73f7734/tests/review.t#L19-L22

So you could start by porting just this test to pytest. Keep in mind that you will also need to port the setup

[2020-06-13 06:57] qycaitian opened #84 ""pip-review -a" updates an package to newest version while the older version is required by other package."
Got this error while running "pip-review -a":
ERROR: astroid 2.4.2 has requirement lazy-object-proxy==1.4.*, but you'll have lazy-object-proxy 1.5.0 which is incompatible.
And it still updated lazy-object-proxy to 1.5.0, which broke the dependency of astroid.

Can pip-review check the dependency first before updating?

[2020-06-13 20:33] jgonggrijp commented on #84
Unfortunately, it can't. pip-review is just a dumb updater. To have this kind of functionality, you can use the modern [pip-tools](https://github.com/jazzband/pip-tools) instead. `pip-compile -U` will recompile your `requirements.txt` such that package versions are updated in a non-breaking way. If you subsequently run `pip-sync`, the newer versions in the updated `requirements.txt` will be instal

[2020-06-13 20:33] #84 closed

[2021-01-19 20:45] berislavlopac commented on #76
@jgonggrijp Have you tried actually pitching the project to PyPA? It looks like something that might make sense as actual part of `pip` itself...

[2021-01-19 22:02] jgonggrijp commented on #76
@berislavlopac Thanks for the suggestion. I think the odds are bleak, though. pip-review was *removed* from pip-tools. I just adopted it because I didn't want it to disappear. Even pip-tools, which is much more sophisticated and has a much larger user base than pip-review, is not a part of pip, even after many years of existence. Although it is a building block of pipenv.

[2021-01-21 14:55] jonpalle commented on #76
@jgonggrijp you mentioned that you are not using pip-review anymore. May I ask why that is? I think it is a neat little tool 😃

[2021-01-21 16:37] jgonggrijp commented on #76
@jonpalle Of course you may ask. Nowadays, when developing a Python project, I always create a dedicated virtualenv for that project. I pin the dependencies using pip-tools and I rarely update the packages in the virtualenv, except when an automated dependency tracker like @dependabot warns me about a security issue (in which case I'm updating only one dependency, by accepting a pull request) or w

[2021-01-23 06:35] Pradhvan commented on #77
This looks intresting, I can take a look into this and create a PR for it. 😄

[2021-01-25 13:36] jonpalle commented on #76
Thanks @jgonggrijp for enlightening me (and hopefully others)! 😉

[2021-01-25 14:53] jgonggrijp commented on #76
Which reminds me: are you still interested in taking over, @Jacksole?

[2021-01-25 20:04] Jacksole commented on #76
Yes, I am.

[2021-01-25 20:15] jgonggrijp commented on #76
Great to hear that!

[2021-01-27 16:17] Jacksole commented on #76
Ok so how does transfer of ownership work exactly?

[2021-01-27 16:38] jgonggrijp commented on #76
In this case, I suggest you just start doing maintenance work, i.e. pick any issue that you find important/easy/fun enough, fix it and submit a PR. Rinse and repeat.

At some point, I'll be convinced that not all work you submit needs to be reviewed by me and I'll give you collaborator access. A bit further in the future, I'll also give you the rights to publish the package to PyPI. Finally (when

[2021-01-27 19:27] Jacksole commented on #83
Ok so it's listed so I see me all set now

[2021-01-27 19:27] #83 closed

[2021-01-28 10:13] Pradhvan commented on #77
@baterflyrity hey! can you share the packages that don't have a progress indicator? I tried `pip-review` with some packages that I have both have some kind of progress indicator.

[2021-01-28 15:15] baterflyrity commented on #77
@Pradhvan hi! Thanks for a try. I dont have any progress indicator for any package. You can test this code:
[code]

[2021-01-28 15:21] jgonggrijp commented on #77
@Pradhvan @baterflyrity Could the differences between your observations be due to different versions of `pip`?

[2021-01-28 15:24] baterflyrity commented on #77
I am using the latest one btw.

[2021-01-29 08:47] Pradhvan commented on #77
It's showing a progress bar in my install, pasted the terminal output below @baterflyrity @jgonggrijp

[code]

[2021-01-29 12:07] baterflyrity commented on #77
@Pradhvan can u pls highlight installation progress bar or record video/gif. I cant see it in your output(

[2021-01-29 13:52] Pradhvan commented on #77
@baterflyrity I thought this was progress 😓

[code]

[2021-01-29 13:58] baterflyrity commented on #77
@Pradhvan yes you are right :) But notice that these bars represent only _download progresses per each package_.
So in case installing from *requirements.txt* file (e.g. to setup [virtual] environment) you can wait and wait and wait watching tons of progress bars.

[2021-01-29 14:22] Pradhvan commented on #77
@baterflyrity okay, so this feature would give one progress bar for all the packages combined?

[2021-01-29 14:29] baterflyrity commented on #77
@Pradhvan yes but i suppose to leave personal ones too.

[2021-01-29 15:59] Pradhvan commented on #77
wouldn't it look a bit weird with two progress bars @baterflyrity

[2021-01-29 16:05] baterflyrity commented on #77
no

![no](https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.shaileshjha.com%2Fwp-content%2Fuploads%2F2019%2F07%2Fvisual_studio_installer_fetching_files.jpg&f=1&nofb=1)

[2021-01-29 16:58] Pradhvan commented on #77
ahh! this UI makes sense. I can give it a shot.

[2021-01-29 18:04] Pradhvan commented on #61
@jgonggrijp started porting the current test to pytest. 😄

I have two questions:

1) Why create `$ cd $TESTDIR/..` is it being used somewhere in the test as I could not find it while reading the file?

2) Instead of using  virtualenv `pip install virtualenv` can I move it to `venv` ?

Though for now, I am looking into creating a `conftest.py` for creating `def playground(tmpdir)` fixture that inhe

[2021-01-29 19:04] jgonggrijp commented on #61
@Pradhvan Nice to know that you're working on this!

That line doesn't *create* `$TESTDIR`, it *moves into it*. In other words, `$TESTDIR` becomes the current working directory, which it remains throughout all of the following tests. I'm not 100% sure *why* it is this way, because I'm not the original author of these tests, but I suspect that `$TESTDIR` is some kind of builtin variable that cram p

[2021-01-30 13:57] Pradhvan commented on #61
@jgonggrijp ahh okay got the use of `$ cd $TESTDIR/` I guess `tmpdir` would do the same job when I port the code to Pytest

I meant instead of using `virtualenv` can't we use the `venv` given by the standard lib something like `python -m venv`

[2021-01-30 18:59] jgonggrijp commented on #61
Today I learned that there is a `venv` module in the Python standard library! 😄

The answer to your question is "no", though (or at least "not yet"). Please keep using the third-party `virtualenv` for now. Two reasons:

- The [standard library documentation](https://docs.python.org/3/library/venv.html) clearly states that the module was introduced in Python 3.3. We're currently still supporting Py

[2021-02-11 08:11] Asiier opened #85 "Constraints.txt is not working or I cannot figure out how to make it work"
Hello,
I tried to set up the constraints file in the other to ignore some packages that won't update correctly and therefore won't let the rest of the packages update successfully.

I have created the constraints.txt file and declare it in both $PIP_CONSTRAINT and ~/.config/pip.config but neither of them will prevent pip-review on trying to update the excluded packages.

`$ ~>  cat ~/.config/pip.c

[2021-02-11 11:12] jgonggrijp commented on #85
I'll start by saying that I know nothing about `constraints.txt`; I have never used it myself, don't know what it is for (although I can make some inferences based on what you have written), don't know whether `pip-review` needs to do anything in order to work with it.

However, purely from your comment, I can spot two things that may be worth investigating.

Firstly, your `pip.conf` and your `$PI

[2021-02-11 15:21] Asiier commented on #85
I though the constraints file was part of pip-review and not pip itself.
I did some more digging on the documentation and seems we both got some things wrong.

First of all, the config files is independent for each user, so If you are going to execute pip-review as root you will need a config file on the root directory. The constraints file can be the same for both as long as is readable for said

[2021-02-11 16:31] jgonggrijp commented on #85
Thanks for that documentation link. Now I finally know what constraints files are about.

You ran `pip install -U distro-info`. What happens if you run `pip install -U cryptography`?

You can already pass the `-c` option to `pip-review`. It forwards all options it doesn't recognize to `pip`.

[2021-02-11 17:38] Asiier commented on #85
Cryptography updates correctly, it's all showing just because it happens to be the first package I have installed and the second is distro-info, which is the one that gives the error and I want to exclude. But here is the output:
[code]

Yeah, the problem is that you check the packages with `pip list --outdated` and that command would not take the `-c` option. And then, with the output from that c

[2021-02-11 17:59] Asiier commented on #85
I modified the code and by changing `'{0}=={1}'.format(pkg['name'], pkg['latest_version']` to `'{0}'.format(pkg['name']` and then passing the `-U` argument it works perfectly.
It uses the exclusions from the constraints.txt file and upgrade the rest of the packages.

[2021-02-11 20:07] jgonggrijp commented on #85
Sounds like you fixed a bug. Please submit a PR!

[2021-02-11 22:04] Asiier commented on #85
Okay, I have created the pull request with the changed.
I also added the `-U` by default, so it's not necessary to include it as an argument.
Feel free to change anything of what I added of course.

I'll now close the issue.

[2021-02-11 22:04] #85 closed

[2021-05-15 14:35] ssbarnea commented on #76
I doubt pip-review is popular enough for PyPA organization to take it under its wing, at least for now. Clearly for longer term maintenance it needs an organization. One possible option would be under https://github.com/pycontribs/ which is generic. Later if it becomes more popular and better maintained we could propose transferring it again.

[2021-05-15 15:34] jgonggrijp commented on #76
@ssbarnea Thanks for the suggestion. Is the intent of PyContribs similar to [Jazzband](https://github.com/jazzband)? You may want to consider joining forces with them, since they have a much larger team.

I have thought about moving pip-review to Jazzband. So far, I opted out of it, firstly because pip-tools is already in Jazzband, which pip-review is a removed feature of, and secondly because I g

[2021-05-15 16:23] ssbarnea commented on #76
Yep same intent. I kinda see JazzBand focused on playing mostly only on djangos ;) -- while I was aware of the organization I did not know they made the joining so easy,  aka automated. I just joined too few minutes ago. Clearly they did spent far more time than me on pycontribs. One thing I should maybe consider in the future is merging the two. Meanwhile I need to discover who is behind, I am su

[2021-07-18 06:23] ssbarnea commented on #76
On the other note, I just observed that this project is forked from pip-tools. The question is why this new cli was not added to pip-tools itself?

I recently become one pip-tools maintainer and I will support a change that contributes it to pip-tools. Once done we can archive this repository. Less packages and better maintained may address the current problem.

[2021-07-18 17:07] flamableconcrete commented on #76
@ssbarnea: `pip-review` was part of `pip-tools` originally, but was [split out of the main project back around 2015](https://github.com/jazzband/pip-tools/issues/185). This is my short observation as an observer. I don't use either tool, and don't even remember why I was watching this issue in the first place, but hopefully that gives some context!

[2021-09-21 00:58] Mark-Joy opened #87 "update latest version on pypi.org"
Hi,
Could you please update latest pip-review on pypi.org?
https://pypi.org/project/pip-review/

[2021-09-21 09:28] jgonggrijp commented on #87
@Mark-Joy Please clarify what you mean by your request.

[2021-09-22 00:02] Mark-Joy commented on #87
@jgonggrijp Hi, when I do `pip install pip-review`, I did not get the latest version. The date on [pipy](https://pypi.org/project/pip-review/) was `Mar 22, 2020`
There was some updates at github such as: constraint file and other fixes..

[2021-09-22 10:46] jgonggrijp commented on #87
I see. I'll try to get to it on Friday.

[2021-11-04 11:31] PyCoding-A opened #88 "add --ignore-failed"
I think we should add the feature to ignore failed install because sometimes some packages (especially on TrueNas) are capricious to update ...
if we run a cron job it's better to have the option --ignore-failed next to -auto

[2021-11-04 12:20] jgonggrijp commented on #88
I won't be implementing this, but pull requests are welcome. Thumbs-up and thumbs-down to express your opinion about the proposed feature also welcome.

[2021-11-12 11:29] Mark-Joy commented on #87
@jgonggrijp how was the update going on?

[2021-11-12 13:27] jgonggrijp commented on #87
Terribly sorry, I forgot about it and I didn't roll the update. My next opportunity is Wednesday, November 17. I'll write it down it in my agenda.

[2021-11-17 00:58] Mark-Joy commented on #87
@jgonggrijp Since today is Nov-17, a reminder here may help a little bit :)

[2021-12-26 01:03] jgonggrijp commented on #87
@Mark-Joy Version 1.1.1 is now up on PyPI. Sorry for the long delay. Merry christmas!

[2021-12-26 01:03] #87 closed

[2021-12-26 01:05] jgonggrijp commented on #69
At second thought, I suggest not working on this until #61 is implemented. Leaving this open just to acknowledge the current situation.

[2022-01-27 06:08] yohanelly95 commented on #83
I see it in pip-list, still does not work keeps saying `zsh: command not found: pip-review`

[2022-01-27 14:19] jgonggrijp commented on #83
@yohanelly95 If you run the following command in the same environment where you run `pip list` (and where `pip-review` is not found), it will tell you the directory in which `pip-review` should be installed:

[code]

You can double-check that `pip-review` is in there:

[code]

If `zsh` is not finding `pip-review`, that probably means that the above directory is not included in your `PATH` environm

[2022-02-06 12:42] nbkgit opened #89 "Warning when installing and running pip-review on windows"
When i run pip-review i get this message

It still seems to work.

[2022-02-06 16:37] jgonggrijp commented on #89
Thanks for reporting. Does it literally say `-ip-review`? That's really curious.

[2022-02-16 00:17] kunif opened #90 "About options that can be passed to the pip list command"
A variable called "LIST_ONLY" defines a set of options that can be passed to the pip list command.
However, even though there is "exclude-editable" in it, there is no "exclude".
Is there any reason for that?
This is just a question.

[2022-02-16 02:30] kunif commented on #72
This is a feature I want even in `--auto` mode.
It would be nice if the list was displayed before the actual update work was called.

It has less information and less real-time than the progress bar discussed in issue #77, but it seems easy to implement.

And being presented with a list of what will be updated in advance gives you a sense of security that you are aware of the situation in either m

[2022-02-16 10:29] jgonggrijp commented on #90
An option is in there *only* if both of the following conditions apply:

- it is accepted by `pip list`;
- it is *not* accepted by `pip install`.

If both conditions apply and it isn't in there, that might be because the option was introduced after we first created that constant?

[2022-02-16 11:11] kunif commented on #90
Oh, I understand.
Looking at it, I found a description in pip's changelog that it was added from v20.3b1(2020-10-31).
Thank you.

[2022-02-16 15:40] #90 closed

[2022-08-14 20:52] ssbarnea commented on #76
@flamableconcrete Well, while I do not know the reasons for the split, I can see which one is better maintained ;)

[2022-08-19 17:53] #88 closed

[2022-08-21 09:42] jgonggrijp opened #93 "What breaking changes would you like to include in a 2.0 release?"
I just released version 1.2.0, which includes the `--continue-on-fail` flag by @5j9. Working on the release branch, I realized that pip-review is still dragging Python versions from the stone age behind it.

I feel it is time to drop support for deprecated Python versions, i.e., everything below Python 3.7. That is a change that could potentially break some workflows, so it requires a major versio

[2022-08-21 15:21] 5j9 commented on #93
I'd also suggest dropping [support ](https://github.com/jgonggrijp/pip-review/blob/46a0fccd0ffee23034882a2e8ac6090c612be3b6/pip_review/__main__.py#L208) for pip versions earlier than [v18.0](https://pip.pypa.io/en/stable/news/#v18-0) (that's about the time [Python 3.7 got released](https://docs.python.org/3/whatsnew/3.7.html)).

[2022-08-25 06:23] 5j9 commented on #61
What do you think about creating offline tests using `unittest.mock`, patching `subprocess.Popen`, and checking `logger` calls instead of making actual subprocess calls to pip?
Such tests would run in an instant, but the downside is that if pip changes in a backward incompatible manner tests won't notice it.

[2022-08-25 07:06] jgonggrijp commented on #61
@5j9 I think such an approach would make sense for unittests. Currently, we don't really have those; cram only allows you to write functional tests as it treats the tested tool as a black box.

In principle, I'm in favor of having both unittests to check our own internal mechanisms and a functional test (maybe a few) to check for compatibility with pip. Any test at all that runs in pytest is alrea

[2022-10-25 06:44] muslu opened #96 "Are old versions saved somewhere?"
Hi,
Thanks for this good project.

If i want to downgrade than can i?

[2022-10-25 09:41] jgonggrijp commented on #96
Hi @muslu, yes you can downgrade any package in general with the following command:

[code]

with `PACKAGE` the name of the package (for example `pip-review`) and `x.y.z` the version you want to downgrade to (for example 0.5.0).

Which package would you like to downgrade, and why?

[2022-10-25 13:05] muslu commented on #96
Hi @jgonggrijp thanks for answer.

Yes, we can use -U argument with pip but i want to save version before upgrade. For example i upgraded fastapi but i didnt know old version number then if i need to downgrade with old version, i need to try downgrade one by one.

I think I could tell you.

[2022-10-26 22:34] jgonggrijp commented on #96
To see exactly which versions you have installed of each package, you can run `pip list`. Also a common trick is to run `pip freeze >requirements.txt`, so you store all those versions in a file and you can return to those versions later. Better yet is to install `pip-tools`, list your direct dependencies in a `requirements.in`, and then run `pip-compile` to create a `requirements.txt` with all pac

[2022-10-27 12:31] muslu commented on #96
Thanks @jgonggrijp;

freeze is good method and useable.

I wanted to give information to help you; may you want to add to question ("do you want to save old versions of libs?") to command line.

I am closing this ask.

thanks for your time.

[2022-10-27 12:31] #96 closed

[2022-10-27 13:43] jgonggrijp opened #97 "Add option and/or interactive question to serialize current package versions to a requirements.txt"
Basically a built-in `pip freeze >requirements.txt` that is run before updating anything. See #96 for rationale.

I personally don't think `pip-review` *needs* this functionality, because there is already a command that does the job. Also, it is arguably better to manage dependency versions using `pip-tools`. Still, if somebody submits a pull request to implement this functionality, I won't stop t

[2022-11-29 16:20] #97 closed